.ui.grid {
	margin: 30px 0 0 0px !important;
}

.content {
}

.slide {
	text-align: center;
	padding: 10px;
	overflow: scroll;
	max-height: 100%;
}

.hideHeading {
	display: none;
}

.showHeading {
	margin: 30px 0px 0px 100px !important;
	text-align: center;
	font-weight: 100;
}

.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
	font-weight: 300;
	font-size: 14px;
}

.ui.card {
	font-family: "Quicksand", sans-serif !important;
}
